# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Money.iml
# Datasource local storage ignored files
/../../../../../../../../:\backup\Document\practice\Money\.idea\.idea.Money\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
